body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse a {
  color: #fff !important;
}

.navbar-inverse a:hover {
  color: #ccc !important;
}

#slide-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 2%;
  font-size: 2.75rem;
  color: #fff;
  background-color: #202020;
  text-decoration: none;
}

#slide-btn:hover {
  color: #5cb85c !important;
}

.icon-github-circled {
  font-size: 1.75rem;
}

.footer {
  padding: 20px;
  background-color: #f4f4f4;
}