$left-panel-size: 300px;
$right-panel-size: 300px;
$bottom-panel-size: 100px;
$top-panel-size: 100px;
$left-panel-offset: -300px;
$right-panel-offset: -300px;
$top-panel-offset: -100px;
$bottom-panel-offset: -100px;