@import '_translate';
@import '_transform';
@import '_dimension';
@import '_variables';

body[data-slide='push'] {
  margin: 0;
  overflow: hidden;
  position: fixed;
  @include dimension(100%, 100%);
}

.overlay {
  @include dimension(100%, 100%);
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
}

.wrapper, .slider-panel {
  @include transform(0.2, 0.3, 0.25, 0.9, .3s);
}

.left-panel, .right-panel, .top-panel, .bottom-panel {
  visibility: visible !important;
}

.left-panel {
  @include dimension($left-panel-size, 100%);
  left: 0;
  margin-left: $left-panel-offset;
}

.right-panel {
  @include dimension($right-panel-size, 100%);
  right: 0;
  margin-right: $right-panel-offset;
}

.top-panel {
  @include dimension(100%, $top-panel-size);
  top: 0;
  margin-top: $top-panel-offset;
}

.bottom-panel {
  @include dimension(100%, $bottom-panel-size);
  bottom: 0;
  margin-bottom: $bottom-panel-offset;
}

.slide-in-left{
  @include translate($left-panel-size,0,0);
}

.slide-in-right{
  @include translate(-$right-panel-size,0,0);
}

.slide-in-top{
  @include translate(0,$top-panel-size,0);
}

.slide-in-bottom{
  @include translate(0,-$bottom-panel-size,0);
}

.slide-out {
  @include translate(0,0,0);
}

.hide-overflow{
  overflow: hidden;
}

.slider-panel{
  position: fixed;
  visibility: hidden;  
  border-radius: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
